%article
  .container
    %section
      %article
        .login#confirmation.span7
          %h2 Resend confirmation instructions
          %hr
          = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
            = form_errors(resource)

            = f.label :email
            = f.text_field :email

            = f.submit "Resend confirmation instructions", :class => "btn btn-primary"

          = render :partial => "devise/shared/links"