!!!
%html
  %head
    = render :partial => "common/javascript_errors"
    %title= page_title
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    :javascript
      var myfont_webfont_test = false;
      var woffEnabled = true;
      var customPath = "/fonts";
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = csrf_meta_tag
  %body.admin-section.has_navbar{:class => controller_name}
    #header_container= render :partial => "layouts/legacy/header"
    #admin_header_container= render :partial => "layouts/admin/admin_header"
    #main{class: "#{admin_main_class}"}
      = yield
    = javascript_tag do
      var ajaxWaitImagePath = '#{image_path("common/throbber.gif")}';
    / silk icon set by Mark James: http://www.famfamfam.com/lab/icons/silk/
    / fugue icon set by Yusuke Kamiyamane: http://p.yusukekamiyamane.com/
