<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if !(IE)]><!--><html lang="en"> <!--<![endif]-->

%head
  %meta{:charset => "utf-8"}
  %title
    = @page.name

  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %meta{"http-equiv" => "content-type", :content=> "text/html; charset=utf-8"}
  %meta{:name => "keywords", :content => "getup, climate, action, australia, australian, politics, political, progressive, movement, participation, community, campaigns"}
  %meta{:name => "description", :content => open_graph_description}
  %meta{:name => "robots", :content => "noodp"}

  /Facebook Open Graph meta tags
  %meta{:property => "og:title", :content => open_graph_title}
  %meta{:property => "og:description", :content => open_graph_description}
  %meta{:property => "og:image", :content => open_graph_share_image_path}
  %meta{:property => "og:site_name", :content => "Australians for Climate Action"}
  %meta{:property => "fb:admins", :content => AppConstants.facebook_admin_id}
  %meta{property: "og:url", content: request.original_url}
  %meta{property: "og:type", content: "article"}
  %meta{property: "article:publisher", content: AppConstants.facebook_page_link}

  %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/assets/themes/openletter/favicon.ico?v=1"}

  / Le styles
  = stylesheet_link_tag 'themes/screen-openletter'

  = yield :extra_css
  = csrf_meta_tag

  %script{:type => "text/javascript", :src => "//use.typekit.net/uzy8deh.js"}

  /[if lt IE 9]
    = javascript_include_tag 'common/lib/html5'

  / END OF Facebook Open Graph meta tags
  :javascript
    var myfont_webfont_test = false;
    var woffEnabled = true;
    var customPath = "/fonts";
  %link{:href => "//fonts.googleapis.com/css?family=Roboto+Slab", :rel => "stylesheet", :type => "text/css"}
  = javascript_include_tag 'common/lib/jquery.min'
  = yield :extra_js
