<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#fff!important">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Welcome!</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
  <style>
  @media only screen {
    html {
      min-height: 100%;
      background: #f3f3f3
    }
  }

  @media only screen and (max-width:596px) {
    table.body img {
      width: auto;
      height: auto
    }
    table.body center {
      min-width: 0!important
    }
    table.body .container {
      width: 95%!important
    }
    table.body .columns {
      height: auto!important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 16px!important;
      padding-right: 16px!important
    }
    table.body .columns .columns {
      padding-left: 0!important;
      padding-right: 0!important
    }
    table.body .collapse .columns {
      padding-left: 0!important;
      padding-right: 0!important
    }
    th.small-6 {
      display: inline-block!important;
      width: 50%!important
    }
    th.small-12 {
      display: inline-block!important;
      width: 100%!important
    }
    .columns th.small-12 {
      display: block!important;
      width: 100%!important
    }
    table.menu {
      width: 100%!important
    }
    table.menu td,
    table.menu th {
      width: auto!important;
      display: inline-block!important
    }
    table.menu.vertical td,
    table.menu.vertical th {
      display: block!important
    }
    table.menu[align=center] {
      width: auto!important
    }
  }

  @media only screen and (max-width:596px) {
    h1 {
      font-size: 36px!important
    }
  }

  @media screen and (max-width:596px) {
    .heading-top {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 8px
    }
    h1 {
      font-size: 28px!important
    }
    th {
      padding-left: 0!important;
      padding-right: 0!important
    }
    p {
      font-size: 18px!important
    }
    .small-p>p {
      font-size: 16px!important
    }
  }
  </style>
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;background:#fff!important;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important"><span class="preheader" style="color:#f3f3f3;display:none!important;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
  <table class="body" style="Margin:0;background:#fff!important;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
      <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
        <center data-parsed="" style="min-width:580px;width:100%">
          <table align="center" class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px">
            <tbody>
              <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="Margin:0 auto;background:#ff671f;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                              <th style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                      <td height="32px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table><img src="http://cdn.getup.org.au/image_17611_full.png" class="logo" style="-ms-interpolation-mode:bicubic;clear:both;display:block;float:right;height:auto;margin-right:16px;max-width:100%;outline:0;text-align:right;text-decoration:none;width:75px!important">
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                      <td height="32px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <h1 class="light white heading-top" style="Margin:0;Margin-bottom:10px;color:#fff;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:30px;font-weight:300;hyphens:none;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Thanks for joining the GetUp Crew!<p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#333;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left"></p></h1></th>
                              <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row collapse" style="border-collapse:collapse;border-spacing:0;display:table;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0;padding-right:0;text-align:left;width:588px">
                          <table style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                              <th style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"><img src="http://cdn.getup.org.au/image_17733_full.jpg" style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></th>
                              <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                              <th style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                      <td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <h3 class="light" style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:28px;font-weight:300;hyphens:none;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal"><%= @greeting %></h3>
                                <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#333;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">We’re moving Australia towards a more fair, flourishing, and just tomorrow. But we can’t get there without you. As part of the GetUp Crew, your regular donations will help power GetUp’s one million-strong community to have extraordinary impact on the issues that matter the most.</p>
                                <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#333;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">From driving rapid-response tactics to building strategic long-term campaigns, the GetUp Crew makes the GetUp movement a resilient and powerful force to be reckoned with.</p>
                              </th>
                              <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row collapse" style="border-collapse:collapse;border-spacing:0;display:table;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0;padding-right:0;text-align:left;width:588px">
                          <table style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                              <th style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"><img alt="" src="http://cdn.getup.org.au/image_17655_full.jpg" style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></th>
                              <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                  <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                    <tbody>
                      <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
                          <table style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                              <th style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                      <td height="32px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div style="background:#2098f5;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;height:8px;width:48px"></div>
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                      <td height="8px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:8px;font-weight:400;hyphens:auto;line-height:8px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <h1 class="bold orange" style="Margin:0;Margin-bottom:10px;color:#ff671f;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:40px;font-weight:700;hyphens:none;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">You’re about making real, sustainable impact.</h1>
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                      <td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#333;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">You’re in this for the long haul, to power GetUp’s passionate community of one million members towards a more fair, flourishing and just Australia.</p>
                                <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#333;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">That’s why you’re part of the GetUp Crew.</p>
                                <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#333;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:20px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">Whether it’s responding to threats to values we hold close, or building the long-term power to achieve real impact, your regular donations are driving us forward.</p>
                                <p class="bold" style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#333;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">
                                  <%= AppConstants.authorised_by %>, for the GetUp Strategy Team<br>
                                  National Director
                                </p>
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                      <td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                  <tbody>
                                    <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                      <td height="24px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:24px;font-weight:400;hyphens:auto;line-height:24px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="small-p" style="background:#EEE;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:16px">
                                  <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                        <td height="4px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:4px;font-weight:400;hyphens:auto;line-height:4px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p class="bold" style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#777;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:17px;font-weight:700;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">YOUR PAYMENT CONFIRMATION</p>
                                  <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#777;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">
                                    Merchant: GetUp Ltd<br>
                                    Ref: <a href="" style="text-decoration:none;border:none;color:#777;"><%= @transaction_ids.join(", ") %></a><br>
                                    Contact: <a href="mailto:donations@getup.org.au" style="Margin:0;color:#2199e8;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">donations@getup.org.au</a><br>
                                  </p>
                                  <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#777;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">
                                    To: <%= @user.first_name %> <%= @user.last_name %><br>
                                    Email: <a href="" style="text-decoration:none;border:none;color:#777;"><%= @user.email %></a><br>
                                  </p>
                                  <% @transactions.each do |transaction| %>
                                    <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#777;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">
                                      Payment Status: <%= transaction.response_code %> - Approved<br>
                                      Date: <%= transaction.created_at %><br>
                                      RRN: <%= transaction.bank_ref %><br>
                                      CardNumber: **** **** **** <%= @donation.card_last_four_digits %><br>
                                      <% if @donation.card_type.present? %>
                                        Card Type: <%= @donation.card_type.upcase %><br>
                                      <% end %>
                                      Purchase: <%= number_to_currency(transaction.amount_in_dollars) %> AUD<br>
                                      Frequency: <%= @donation.frequency %><br>
                                      Campaign: <%= @donation.made_to %><br>
                                    </p>
                                  <% end %>
                                  <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                        <td height="4px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:4px;font-weight:400;hyphens:auto;line-height:4px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <hr>
                                  <table class="spacer" style="border-collapse:collapse;border-spacing:0;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                        <td height="12px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;hyphens:auto;line-height:12px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#777;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">Should you want to see the details of your donation history, you can log on to My GetUp at any time. My GetUp can be accessed through the <a href="https://www.getup.org.au/mygetup-donationhistory" style="Margin:0;color:#2199e8;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">main GetUp website</a>.
                                    <br> </p>
                                  <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#777;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">If this is your first time using My GetUp, you will need to create a password.</p>
                                  <p style="-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;Margin:0;Margin-bottom:10px;color:#777;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;hyphens:none;line-height:1.45;margin:0;margin-bottom:16px!important;padding:0;text-align:left">If you have any questions you can reply to this email or reach us on <a href="tel:<%= AppConstants.financial_contact_number.delete('^0-9').gsub(/^0/, '+61') %>" style="Margin:0;color:#2199e8;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><%= AppConstants.financial_contact_number %></a>.</p>
                                </div>
                              </th>
                              <th class="expander" style="Margin:0;color:#0a0a0a;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none;font:15px courier;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;line-height:0;white-space:nowrap">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>

</html>
