= note_module_cannot_be_used_if_aside_has_content
#email-mps-fields
  = f.label :title, 'Title', :class => "req"
  = f.text_field :title
  = f.label :content, 'Blurb'
  = f.text_area :content, :rows => 4
  = render :partial => "admin/pages/content_modules/email_module", :locals => {:f => f, :content_module => content_module}
  = render :partial => "admin/pages/content_modules/mps_module_target_parties", :locals => {:f => f, :content_module => content_module}
  %div{:style => "position:relative;clear:both;"}
    = f.label :delayed_end_date, "Progressively send until", :class => "date"
    = f.text_field :delayed_end_date, :class => "date"
    %span{:id => "content_modules_#{content_module.id}_delayed_end_date_clear", :style => "position:absolute;right:30px;top:14px;font-weight:bold;text-transform:uppercase;"} Clear
  = render :partial => "admin/pages/content_modules/activity_stream_templates", :locals => {:f => f}
  = f.label :button_text, 'Button text', :class => "req"
  = f.text_field :button_text
  = f.label :show_steps, 'Show steps'
  = f.check_box :show_steps
  .info
    Make module behave more like a wizard interface with labels (step 1, step 2, etc.)

  = render partial: 'admin/pages/content_modules/custom_fields_edit', locals: {f: f}

:javascript
  $(function () {
      toggle_edit_custom_fields();

      $.datepicker.setDefaults({dateFormat:'dd-mm-yy'});

      $('#content_modules_#{content_module.id}_delayed_end_date').datepicker({minDate:0});
      $('#content_modules_#{content_module.id}_delayed_end_date').keydown(function (event) {
          event.preventDefault();
      });
      $('#content_modules_#{content_module.id}_delayed_end_date_clear').click(function () {
          $('#content_modules_#{content_module.id}_delayed_end_date').val('');
      });

  });
