= note_module_cannot_be_used_if_aside_has_content
%div
  = f.label :title, 'Title', :class => "req"
  = f.text_field :title
  = f.label :content, 'Blurb'
  = f.text_area :content, :rows => 4
  = render :partial => "admin/pages/content_modules/email_module", :locals => {:f => f, :content_module => content_module}
  = render :partial => "admin/pages/content_modules/activity_stream_templates", :locals => {:f => f}
  = f.label :button_text, 'Button text', :class => "req"
  = f.text_field :button_text

  = render partial: 'admin/pages/content_modules/custom_fields_edit', locals: {f: f}

:javascript
  $(function () {
    toggle_edit_custom_fields();
  })
