<%- reset_url = reset_password_url(edit_password_url(@resource, :reset_password_token => @token,  :user_return_to => '/dashboard')) %>

<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a new password for you to use on the GetUp! website.</p>

<p>Please click here to create your new password:
<br/><%= link_to reset_url, reset_url %></p>

<p>This link expires in <%= Devise.reset_password_within / 3600 %> hrs (<%= (Time.current + Devise.reset_password_within).strftime("%d %b, %H:%M EST") %>).</p>

<p>If you have any troubles, drop me a line at the email address below.</p>

<p>Kind regards,</p>
<p><%= AppConstants.membership_contact_name %> for the GetUp! team<br>
<a href="mailto:info@getup.org.au" target="_blank">info@getup.org.au</a></p>

<p style="font-style: italic;">PS - If you didn't request this change, please ignore this email.</p>

</body>
</html>
