.sub-nav-link.fraud
  = link_to 'Payments', admin_payments_path, class: 'payments'
.sub-nav-link.mp-editor
  = link_to 'MP Editor', admin_mps_path, class: 'mp-editor'
.sub-nav-link.senator-editor
  = link_to 'Senator Editor', admin_senators_path, class: 'senator-editor'
.sub-nav-link.quarantine
  = link_to 'Quarantine', admin_quarantines_path, class: 'quarantine'
.sub-nav-link.whitelist
  = link_to 'Merge Tokens Whitelist', whitelist_admin_merges_path, class: 'whitelist'
.sub-nav-link.merge-data-upload
  = link_to 'Merge Data Upload', admin_merges_path, class: 'merge-data-upload'
.sub-nav-link.daisy-chains
  = link_to 'Daisy Chains', admin_daisy_chains_path, class: 'daisy-chains'
