<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if (gte IE 9)]><html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if !(IE)]><!--><html  class="no-js" lang="en"> <!--<![endif]-->

%head
  = render :partial => "common/javascript_errors"
  %meta{:charset => "utf-8"}
  %title
    = page_title

  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %meta{"http-equiv" => "content-type", :content=> "text/html; charset=utf-8"}
  %meta{:name => "keywords", :content => "getup, action, australia, australian, politics, political, progressive, movement, participation, community, campaigns"}
  %meta{:name => "description", :content => open_graph_description}
  %meta{:name => "robots", :content => robots_content}
  %meta{name: 'google-site-verification', content: 'DuTZLDZrCNp0e4x1VZEJy6xlegkLbiWGJLPicXVrY3Y'}

  <!--Facebook Open Graph meta tags-->
  %meta{:property => "og:title", :content => open_graph_title}
  %meta{:property => "og:description", :content => open_graph_description}
  %meta{:property => "og:image", :content => open_graph_share_image_path}
  %meta{:property => "og:site_name", :content => "GetUp! Action for Australia"}
  %meta{:property => "fb:admins", :content => AppConstants.facebook_admin_id}
  %meta{property: "og:url", content: request.original_url}
  %meta{property: "og:type", content: "article"}
  %meta{property: "article:publisher", content: AppConstants.facebook_page_link}

  %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}

  / Le styles
  = stylesheet_link_tag 'public'

  = yield :extra_css

  = csrf_meta_tag

  = javascript_include_tag 'common/lib/jquery.min'
  = yield :extra_js

  /[if lt IE 9]
    = javascript_include_tag 'common/lib/html5'

  %script{type: "text/javascript"}
    document.documentElement.className = document.documentElement.className.replace("no-js","js");
